.portfolio__title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  @include font(700, 18px, 2, 0.06em);
  // font-weight: 700;
  // font-size: 18px;
  // line-height: 2;
  // letter-spacing: 0.06em;
  text-align: left;
}
.portfolio__text {
  color: var(--title-text-color);
  @include font(null, 16px, 1.88, 0.03em);
  // font-size: 16px;
  // line-height: 1.88;
  // text-align: left;
  // letter-spacing: 0.03em;
}
.portfolio {
  padding-top: 6px;
  padding-bottom: 22px;
}
.portfolio__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio__items {
  margin-bottom: 50px;
}
.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__items li:not(:last-child) {
  margin-right: 8px;
}
.portfolio__gallery-link {
  display: block;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
