.work-about.section {
  padding-top: 0;
}
.comand-title-list {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  @include font(500, 16px, 1.19, 0.03em);
  text-align: center;
}
.comand-text-items {
  margin-bottom: 16px;
  color: var(--title-text-color);
  @include font(null, 16px, 1.19, 0.03em);
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.cards .item {
  flex-basis: calc(100% / 3 - 30px);
}
.thumb {
  position: relative;
}
.thumb__application {
  @extend %align-list;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  @include font(700, 14px, 1.19, 0.03em);
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
}
.thumb__work {
  position: absolute;
  left: 0;
  bottom: 0;
}
