:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --main-font: 'Roboto';
  --secondary-background-color: #f5f4fa;
  --hero-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --background-icon: #ffffff;
  --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}
